<nav>
    <ul style="display: flex; justify-content: space-around">
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{path("app_category_list")}}">Categories</a></li>
            <li><a href="{{path("app_city_list")}}">City</a></li>
        {% endif %}
        <li><a href="">Articles</a></li>
    </ul>
</nav>