<nav>
    <ul style="display: flex; justify-content: space-around">
        <li><a href="{{path("app_category_list")}}">Categories</a></li>
        <li><a href="">City</a></li>
        <li><a href="">Articles</a></li>
    </ul>
</nav>